.app-wrapper{
  display: grid;
  width: 1200px;
  margin: 0 auto;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: 
  "h h "
  "n c";
  // app-wrapper__content{}
  &__content{
    grid-area: c;
    background-color: rgb(50, 60, 190);
    padding: 10px;
  }
}

a.active{
  color:rgb(214, 214, 214);
  text-decoration: underline;
}