.app-wrapper{
  display: grid;
  width: 1200px;
  margin: 0 auto;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: 
  "h h "
  "n c";
  // app-wrapper__content{}
  &__content{
    grid-area: c;
    background-color: rgb(50, 60, 190);
    padding: 10px;
    display: grid;
    grid-template-columns: 2fr 10fr;
    column-gap: 5px;
    border-right: 2px solid #000;
  }
}
