
.dialogs{
    //dialogs__body{}
    &__body{
        display: grid;
        grid-template-columns: 2fr 10fr;
        column-gap: 5px;
        height: 500px;
        overflow: auto;
    }
    //dialogs__menu{}
    &__menu{
        border-right: 2px solid #000;
    }
    //.dialogs__list{}
    &__list{
        list-style: none;
        left: 0;
        margin: 0;
        padding: 5px;
    }
    //.dialogs__item{}
    &__item{
        padding: 5px;
        &:hover{
            cursor: pointer;
            text-decoration: underline;
        }
    }
    //dialogs__content{}
    &__content{

        //.dialogs__content-dialogs{}
        &-dialogs{
            
        }
    }
    

}

